.project {
    background-color: var(--background1);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1);
    box-shadow: var(--shadow);
    max-width: 500px;
    transition: color 1000ms ease-out,
        background var(--transition-speed) ease-out, transform 300ms ease-out;
}

.project:hover {
    transform: scale(1.05);
}

.project__text {
    padding: 1.5rem;
    padding-top: 0;
}

.project img {
    width: 100%;
}

.project h3 {
    font-size: 1.3rem;
    color: var(--text3);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project__tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
