.project-page {
    max-width: 60rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', 'sans-serif';
    font-size: 1.3rem;
    line-height: 2rem;
}

.project-page h1 {
    font-family: 'Montserrat', sans-serif;
}

.p-title {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-top: 3rem;
    color: var(--text-primary);
    border-bottom: 1px solid var(--text-gray);
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.p-description {
    text-align: justify;
}

.p-list {
    padding-left: 20px;
    margin: 1rem 0;
    list-style: circle;
}

.p-list li {
    margin: 0.3rem 0;
}

.awesome-slider {
    margin-bottom: 5rem;
    margin-top: 2rem;
}
