.tag {
    margin-top: 1rem;
    margin-right: 5px;
    padding: 0.4rem;
    background-color: var(--background3);
    color: var(--text3);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 0.5rem;
}
