.page-container h1 {
	color: var(--text-primary);
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 10px;
	text-align: left;
}

.page-container {
	margin: auto;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.page-container {
		padding: 100px 1.2rem;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.page-container {
		padding: 100px;
	}
}
