.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	overflow: hidden;
	z-index: 100;
	box-shadow: var(--shadow);
	transition: color 1000ms ease-out, background var(--transition-speed) ease-out, width 600ms ease;
}

.navbar-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
	cursor: pointer;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-gray);
	text-decoration: none;
	transition: var(--transition-speed);
}

.nav-item > .nav-link:hover {
	background: var(--bg-secondary);
}

.nav-item > .nav-link:hover i {
	color: var(--highlight);
}

.nav-item > .nav-link:hover .link-text {
	color: var(--text-secondary);
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link i {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	background: linear-gradient(var(--highlight), var(--orange2));
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo i {
	color: white;
	transform: rotate(0deg);
	transition: var(--transition-speed);
	font-weight: bold;
}

.logo-text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
	font-size: 1.2rem;
	color: white;
}

.navbar:hover .logo i {
	transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.nav-link {
		justify-content: center;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 16rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo i {
		margin-left: 11rem;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}
}

@media only screen and (orientation: landscape) and (max-height: 420px) {
	.nav-link {
		height: 3.5rem;
	}

	.logo .nav-link {
		height: 4rem;
	}
}
