.navbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
}

.navbar-nav {
	list-style: none;
	position: relative;
	display: flex;
	box-shadow: var(--shadow);
	z-index: 100;
}

.nav-links {
	width: 300px;
	height: 350px;
	background: linear-gradient(to bottom right,#fb9865,#f96a1f 85%);;
	height: 100vh;
}

.burger {
	color: var(--text-secondary);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.burger-line {
	width: 40px;
	height: 5px;
	background-color: white;
	border-radius: 20px;
}

.burger-line:first-child, .burger-line:nth-child(2n) {
	margin-bottom: 5px;
}

.menu-item {
	background: #454e56;
	width: 70px;
	height: 70px;
	cursor: pointer;
	position: relative;
	box-shadow: var(--shadow);
}

.menu-item:first-child, .navbar-nav {
	border-radius: 0px 0px 0px 30px;
}

.menu-item:first-child {
	background: rgb(0, 162, 255);
}

.fa-sun-o, .fa-moon-o, .fa-terminal {
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.x-burger > .burger-line:first-child {
	transform: rotate(-45deg);
}

.x-burger > .burger-line:last-child {
	transform: rotate(45deg);
}

.x-burger > .burger-line:first-child, .x-burger > .burger-line:last-child {
	position: absolute;
	top: 50%;
	left: 15px;
}

.x-burger > .burger-line:nth-child(2n) {
	opacity: 0;
}

.nav-dropdown {
	background: linear-gradient(45deg, rgba(0,162,255,1) 0%, rgba(24,103,198,1) 100%);
	position: fixed;
	z-index: 80;
	box-shadow: var(--shadow);
}

.nav-dropdown-childs {
	display: flex;
	height: 100%;
	align-items: center;
}


.dropdownitem-text {
	color: white;
	font-family: Montserrat, "sans-serif";
	font-weight: 900;
}

.dropdown-item {
	padding: 15px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.nav-dropdown {
		width: 100%;
		height: calc(100vh + 70px);
		top: -70px;
		overflow: hidden;
		transition: all 500ms ease-in-out;
	}

	.nav-dropdown-childs {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: 20%;
	}

	.dropdown-item {
		font-size: 2rem;
	}

	.hidden {
		top: calc(-100vh - 70px);
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.nav-dropdown {
		width: 420px;
		height: 70px;
		border-radius: 0px 0px 0px 30px;
		right: 180px;
		transition: right 500ms ease-in-out;
	}

	.dropdown-item:first-child {
		margin-left: 15px;
	}

	.hidden {
		right: -400px;
	}
}