.projects {
	font-family: 'Montserrat', sans-serif;
}

.projects-wrapper {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
	gap: 50px;
}

.projects-header {
	max-width: 800px;
}

.filter-tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filter-text {
	font-size: .9rem;
}