.tag {
	margin-top: 1rem;
	margin-right: 5px;
	padding: 0.4rem;
	background-color: var(--background-third);
	color: var(--text-secondary);
	font-size: .8rem;
	font-weight: bold;
	border-radius: 6px;
	margin-right: 0.5rem;
}

.filter-tag {
	cursor: pointer;
	transition: 100ms all ease-in-out;
}

.filter-tag:hover {
	transform: scale(1.05);
}