.projecteditor {
  width: 90vw;
  padding: 1rem;
}

.projecteditor__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projecteditor__group {
  width: 409px;
}

.projecteditor__group > textarea {
  height: 100px;
}

.projecteditor__group > input,
.projecteditor__group > textarea {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--text2);
  border-radius: 10px;
  color: var(--text3);
  font-family: var(--lato);
}

.projecteditor__group > label {
  position: relative;
  align-self: flex-start;
  margin-left: 20px;
  top: 8px;
  background-color: var(--background);
  color: var(--text1);
}

.projecteditor__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projecteditor__content > textarea,
.projecteditor__content > div {
  padding: 1rem;
  height: 400px;
  overflow-y: scroll;
  margin-top: 1rem;
  resize: none;
  background-color: transparent;
  border: 1px solid var(--text2);
  border-radius: 10px;
  color: var(--text3);
  font-family: var(--lato);
}

.projecteditor__content > textarea {
  font-family: var(--lato);
  background-color: transparent;
  color: var(--text1);
}

.projecteditor__preview hr {
  margin-bottom: 1rem;
}

.projecteditor__preview > h1:first-child {
  margin-top: 0;
}

.projecteditor__preview > h1 {
  font-family: var(--montserrat);
  margin-top: 2rem;
}

.projecteditor__preview > ul > li {
  margin-left: 25px;
}

.projecteditor__preview > ul {
  list-style: circle;
  margin-top: 1rem;
}

.projecteditor__buttons {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}
.projecteditor__buttons > .generic__button {
  width: 100px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .projecteditor__content {
    grid-template-columns: 1fr;
  }

  .projecteditor__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
