.skilleditor {
  width: 400px;
  background-color: var(--background3);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skilleditor > input,
.skilleditor > textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--background1);
  border: none;
}

.skilleditor > textarea {
  resize: none;
  height: 100px;
}

.skilleditor__buttons {
  display: flex;
  gap: 20px;
}

.skilleditor__buttons > .generic__button {
  width: 100px;
}
