.skills-container h1 {
    text-align: center !important;
}

.skill-descriptions {
    height: 60vh;
    background-color: var(--bg-primary);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 30rem));
    gap: 1.5rem;
    justify-content: center;
}
