.skills h1 {
    text-align: center !important;
}

.skills__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 30rem));
    gap: 1.5rem;
    justify-content: center;
}
