.contacts {
    margin: auto;
    max-width: 800px;
}

.contacts__header {
    font-family: var(--montserrat);
}

.contacts__description {
    text-align: justify;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.contacts > p:last-child {
    margin-top: 20px;
}

.contacts__form {
    display: grid;
    gap: 20px;
    margin-top: 40px;
}
