.page-container h1 {
    color: var(--text1);
    font-size: 2rem;
    font-family: var(--montserrat);
    padding-bottom: 10px;
    text-align: left;
}

.page-container {
    margin: auto;
    overflow: hidden;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .page-container {
        padding: 100px 1.2rem;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .page-container {
        padding: 100px;
    }
}
