/*********************************************
******************* GENERAL ******************
**********************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #b6b6b6;
	--text-gray: gray;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;
	--highlight: #7519df;
	--background-third: rgb(44, 45, 59);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: gray;
}

body {
	background-color: #1a1a24;
}

::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background: #1e1e24;
}

::-webkit-scrollbar-thumb {
	background: #6649b8;
}

a {
	display: block;
	text-decoration: none;
}

/*********************************************
***************** NAVIGATION *****************
**********************************************/
.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: hidden;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
	cursor: pointer;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-gray);
	text-decoration: none;
	transition: var(--transition-speed);
}

.nav-link:hover {
	background: var(--bg-secondary);
	color: var(--text-secondary) !important;
}

.nav-link:hover i {
	color: var(--highlight);
}

.nav-link:hover .link-text {
	color: var(--text-secondary);
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link i {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo i {
	transform: rotate(0deg);
	transition: var(--transition-speed);
	font-weight: bold;
}

.logo-text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
}

.navbar:hover .logo i {
	transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.nav-link {
		justify-content: center;
	}

	main {
		margin: 0;
	}

	/*This is for Container component*/
	.container {
		margin-left: 0;
	}

	.projects-wrapper {
		grid-template-columns: 1fr !important;
	}

	.projects-container {
		padding: 2rem !important;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 16rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo i {
		margin-left: 11rem;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}

	/*This is for Container component*/
	.container {
		margin-left: 5rem;
	}

	.projects-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Medium screens */
@media only screen and (max-width: 1100px) {
	.projects-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 900px) {
	.projects-wrapper {
		grid-template-columns: 1fr;
	}
}

/*********************************************
*************** PROJECTS PAGE ****************
**********************************************/
.projects-container {
	padding: 4rem;
	text-align: center;
}

.projects-container h1 {
	color: rgb(230, 230, 230);
	font-size: 2rem;
	font-family: 'Nunito Sans', sans-serif;
	padding-bottom: 10px;
	/*border-bottom: 3px dashed var(--text-primary);*/
	text-align: left;
}

.projects-wrapper {
	margin-top: 3rem;
	display: grid;
	grid-gap: 50px;
	margin-bottom: 5rem;
}

.project-item {
	padding: 1.5rem;
	background-color: #23232e;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .3);
	border-radius: 10px;
	cursor: pointer;
}

.project-item img {
	max-width: 100%;
	border-radius: 10px;
}

.project-item h3 {
	font-size: 1.5rem;
	color: var(--text-secondary);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.langs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tag {
	margin-top: 1rem;
	margin-left: 5px;
	padding: 0.5rem;
	width: 5.8rem;
	background-color: var(--background-third);
	color: var(--text-secondary);
	font-size: .8rem;
}
