/*********************************************
******************* GENERAL ******************
**********************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #b6b6b6;
	--text-gray: gray;
	--text-secondary: #ececec;
	--bg-primary: #242429;
	--bg-secondary: #1d1d1f;
	--transition-speed: 600ms;
	--highlight: #ff8500;
	--orange1: #ff5400;
	--orange2: #ff6000;
	--orange3: #ff6d00;
	--orange4: #ff7900;
	--passive-orange: #c4540e;
	--dark-orange: #ff4800;
	--background-third: rgb(42, 42, 48);
	--main-bg: #1b1b1b;
}

.light {
	--text-primary: #3f3f3f;
	--text-gray: gray;
	--text-secondary: #202020;
	--bg-primary: #ffffff;
	--bg-secondary: #cccccc;
	--background-third: #e8f0fe;
	--main-bg: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: gray;
	transition: color 1000ms ease-out, background var(--transition-speed) ease-out;
}

body {
	background-color: var(--main-bg);
}

::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background: #24201e;
}

::-webkit-scrollbar-thumb {
	background: gray;
}

a {
	display: block;
	text-decoration: none;
}

/*********************************************
***************** NAVIGATION *****************
**********************************************/
.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	overflow: hidden;
	z-index: 100;
	box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, .3);
	transition: color 1000ms ease-out, background var(--transition-speed) ease-out, width 600ms ease;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
	cursor: pointer;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-gray);
	text-decoration: none;
	transition: var(--transition-speed);
}

.nav-link:hover {
	background: var(--bg-secondary);
	color: var(--text-secondary) !important;
}

.nav-link:hover i {
	color: var(--highlight);
}

.nav-link:hover .link-text {
	color: var(--text-secondary);
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link i {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: linear-gradient(var(--highlight), var(--orange2));
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo i {
	color: var(--bg-primary);
	transform: rotate(0deg);
	transition: var(--transition-speed);
	font-weight: bold;
}

.logo-text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
	color: var(--text-secondary);
}

.navbar:hover .logo i {
	transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.nav-link {
		justify-content: center;
	}

	main {
		margin: 0;
	}

	.page-container {
		padding: 2rem 1.2rem;
	}
	.switch {
		top: 2rem !important;
		right: 1.2rem !important;
	}

	.projects-wrapper {
		grid-template-columns: 1fr !important;
	}

	.projects-container {
		padding: 2rem !important;
	}

	.contacts {
		margin-bottom: 5rem;
	}

	.wave img {
		width: 60% !important;
	}

	.skills-container {
		margin-bottom: 5rem;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 16rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo i {
		margin-left: 11rem;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}

	.page-container {
		padding: 4rem;
		margin-left: 5rem;
	}

	.projects-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Medium screens */
@media only screen and (max-width: 1100px) {
	.projects-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 900px) {
	.projects-wrapper {
		grid-template-columns: 1fr;
	}
}

/*********************************************
*************** PROJECTS PAGE ****************
**********************************************/

.projects {
	text-align: center;
}

.page-container h1 {
	color: var(--text-primary);
	font-size: 2rem;
	font-family: 'Nunito Sans', sans-serif;
	padding-bottom: 10px;
	/*border-bottom: 3px dashed var(--text-primary);*/
	text-align: left;
}

.projects-wrapper {
	margin-top: 3rem;
	display: grid;
	grid-gap: 50px;
	margin-bottom: 5rem;
}

.project-item {
	background-color: var(--bg-primary);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .3);
	border-radius: 10px;
	cursor: pointer;
	transform: scale(1);
	transition: color 1000ms ease-out, background var(--transition-speed) ease-out, transform 300ms ease-out;
}

.project-item:hover {
	transform: scale(1.05);
}

.project-text {
	padding: 1.5rem;
	padding-top: 0;
}

.project-item img {
	width: 100%;
}

.project-item h3 {
	font-size: 1.3rem;
	color: var(--text-secondary);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.langs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tag {
	margin-top: 1rem;
	margin-left: 5px;
	padding: 0.4rem;
	width: 4.5rem;
	background-color: var(--background-third);
	color: var(--text-secondary);
	font-size: .8rem;
	font-weight: bold;
	border-radius: 6px;
	margin-right: 0.5rem;
}

/*********************************************
*************** CONTACTS PAGE ****************
**********************************************/

.contacts {
	position: relative;
}

.contacts h1 {
	text-align: center;
	position: relative;
	color: var(--text-primary);
	margin-bottom: 2rem;
}

.contacts form {
	padding: 2rem;
	background-color: var(--bg-primary);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
	min-width: 40%;
	max-width: 40rem;
	margin: auto;
	position: relative;
	z-index: 10;
	border-top: 2px solid var(--orange2);
}

.form-item input,
textarea {
	padding: 1rem;
	font-weight: bold;
	color: var(--text-primary);
	background-color: var(--background-third);
	outline: none;
	border: none;
	width: 100%;
	border-radius: 10px;
	margin: 1rem 0;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
}

.form-msg textarea {
	height: 12rem;
	resize: vertical;
}

.contacts form input[type="submit"] {
	padding: 1rem;
	background-color: var(--bg-secondary);
	border: none;
	font-weight: bold;
	border-radius: 10px;
	margin-top: 1rem;
	color: var(--text-secondary);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: border var(--transition-speed) ease-out;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contacts form input[type="submit"]:hover {
	border: 1px solid var(--dark-orange);
}

@media only screen and (orientation: landscape) and (max-height: 420px) {
	.nav-link {
		height: 3.5rem;
	}

	.logo .nav-link {
		height: 4rem;
	}
}

.wave img {
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 35%;
	z-index: -1;
}

/**************************************
*********** THEME SWITCHER ************
***** from https:\\schdesign.hu *******
***************************************/
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(129, 205, 255);
	-webkit-transition: all .3s;
	transition: all .3s;
	border-radius: 18px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: rgba(255, 248, 146, 1);
	-webkit-transition: all .3s;
	transition: all .3s;
	border-radius: 18px;
	box-shadow: 0px 0px 4px 2px rgba(255, 248, 146, 1);
}

.dark > #root > .switch > .slider:before {
	background-color: #4440;
	box-shadow: inset -8px 0px 1px 1px #d9d485, 1px 0px 1px 0px #d9d485;
	-moz-box-shadow: inset -8px 0px 1px 1px #d9d485, 1px 0px 1px 0px #d9d485;
}

input:checked + .slider {
	background-color: rgb(35, 80, 110);
}

input:focus + .slider {
	box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

.switch {
	position: absolute;
	display: inline-block;
	width: 46px;
	height: 30px;
	top: 4rem;
	right: 4rem;
	transition: all;
	z-index: 20;
}

.switch input {
	display: none;
}

/*********************************************
**************** SKILLS PAGE *****************
**********************************************/

.skills-container h1 {
	text-align: center;
}

.skill-descriptions {
	height: 60vh;
	background-color: var(--bg-primary);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
}

.skills {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill {
	margin: 1rem 1rem;
	background-color: var(--bg-primary);
	padding: 1.5rem;
	min-width: 17rem;
	max-width: 30rem;
	text-align: justify;
}

.skill-short {
	font-size: 0.9rem;
	line-height: 1.5rem;
}

.skill-name {
	color: var(--text-secondary);
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.progress-bar-bg {
	width: 100%;
	height: 1.5rem;
	background-color: var(--background-third);
	margin: 1rem 0;
	padding: 3px;
}

.progress-bar-front {
	z-index: 2;
	height: 1rem;
	background-color: rgb(0, 102, 255);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.skill-name img {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.text-highlight {
	background-color: var(--background-third);
	color: var(--highlight);
	padding: 3px;
}
