.burger {
    color: var(--text2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.burger__line {
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 20px;
    transition: 300ms all ease-in-out;
}

.burger__line:first-child,
.burger__line:nth-child(2n) {
    margin-bottom: 5px;
}
.x-burger > .burger__line:first-child {
    transform: rotate(-45deg);
}

.x-burger > .burger__line:last-child {
    transform: rotate(45deg);
}

.x-burger > .burger__line {
    position: absolute;
    top: 50%;
    left: 15px;
}

.x-burger > .burger__line:nth-child(2n) {
    opacity: 0;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .burger {
        transform: translate(-50%, -50%) scale(0.8);
    }
    .x-burger {
        transform: scale(0.8);
    }
    .x-burger > .burger__line {
        top: 30px;
        left: 5px;
    }
}
